./vscode

# Mac specific info

.DS_Store

# Python related info
__pycache__/

# Large image dataset
IJCAI2019_data/

# Large models
./ESAFN/Models/100_twitter_embedding_matrix.dat
./ESAFN/Models/100_mvsa_embedding_matrix.dat


./Models/ESAFN-master
./Models/ESAFN/datasets
./Models/ESAFN/glove.twitter.27B
./Models/ESAFN/resnet/resnet152.pth


!.gitignore

Models/ESAFN-modified/src/resnet/resnet152.pth
*.pth
Models/ESAFN-master/datasets/twitter/dev.txt
Models/ESAFN-master/datasets/twitter/test.txt
Models/ESAFN-master/datasets/twitter/train.txt
Models/ESAFN-master/datasets/twitter2015/dev.txt
Models/ESAFN-master/datasets/twitter2015/test.txt
Models/ESAFN-master/datasets/twitter2015/train.txt
