./vscode

# Mac specific info

.DS_Store

# Python related info
__pycache__/

# Large image dataset
IJCAI2019_data/

# Large models
./ESAFN/100_twitter_embedding_matrix.dat
./ESAFN/100_mvsa_embedding_matrix.dat


!.gitignore

Models/ESAFN/resnet/resnet152.pth